.card {
    display: inline-block;
    width: calc(100% - 20px); /* 가로 공간을 적절히 분배 */
    margin: 10px; /* 카드 간격 설정 */
    box-sizing: border-box;
    height: 100px;
    margin: 2%;
    padding: auto 0;
    border: 2px solid;
    background-color: bisque;
    color: black;
}

.album_title {
    font-size:larger;
    font-weight: bold;
}

.Link {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 링크 색상 상속 */
}