.header_container {
    display: flex;
    justify-content: space-between;
    margin: 3%;
    white-space: nowrap;
}
/* Header.css */
.btns {
    display: flex;
    align-items: center;
}

.btns > :not(:first-child) {
    margin-left: 10px;
}
 

.logo img {
    width: 10vh;
}
