.header_container {
    display: flex;
    justify-content: space-between;
    margin: 2% 2% 0 2%;
    white-space: nowrap;
}

.btns {
    display: flex;
    align-items: center;
}

.btns > :not(:first-child) {
    margin-left: 10px;
}

.logo img {
    width: 10vh;
}

.logoutBtn {
    width: 100px;
}